<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Cursors to Carrots</title>
        <link rel="stylesheet" href="/styles.css">

    </head>
    <body {{#if signed}} class="carrotcursor" {{/if}}>
        <div id="background-layer">
            <div id="navbar">
                {{#if userId}} <a href="/edit">Edit Profile</a> {{/if}}
                {{#if signed}} <a href="/signers">See Signers</a> {{/if}}
                 <a href="#" id="linkCredits">Credits</a>
                 {{#if userId}} <a href="/logout">Logout</a>{{/if}}
            </div>
            <div id="background-image">
            </div>

                {{{ body }}}


            <div class="modal-container">
                            <div class="modal">
                                <div id="exit-modal">
                                    X
                                </div>
                                <h2>Credits</h2>
                                <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                                <div>Icons made by <a href="https://www.flaticon.com/authors/prettycons" title="prettycons">prettycons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

                            </div>
                        </div>
            </div>

            <!-- <div id="darkness">
            </div> -->

        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="app.js"></script>

    </body>
</html>
