<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel="stylesheet" href="/styles.css">

    </head>
    <body>
        <!-- <div class="header">
            <h1>Petition ....</h1>
        </div> -->

        {{{ body }}}

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="app.js"></script>

    </body>
</html>
