

<div id="registration-headline">
    <div>
        <p>Cursors to Carrots!</p>
    </div>
    <div class="circle">
        <img src="img/carrot_cursor.png" class="carrot" alt="">

    </div>
</div>

    <div id="please-sign">

    </div>

    <!-- <div class="description">
        <div class="">
            <p>Please sign our petition for changing the default cursor to a carrot.</p>
        </div>
    </div> -->


    <form method="post" id="form-signature">

        <input type="hidden" name="signature" value="" id="signature">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <label for="">
                <div id="canvas-layer">
                    <canvas id="canvas" width="440" height="150"></canvas>
                </div>
        </label>

        <p id="error-message">
            {{showError}}

        </p>


        <button type="submit" name="submit">SUBMIT</button>
    </form>
