<h2>TESTTEST</h2>

<form method="post">

<label for="">
    First name
    <input type="text" name="first_name" value="">
</label>
<label for="">
    Last Name
    <input type="text" name="last_name" value="">
</label>
<input name="signature" value="" id="signature">

<canvas id="canvas" width="320" height="100"></canvas>

{{showError}}

<button type="submit" name="submit">SEND</button>
<form>
