<div id="container-petition">


    <div class="headline">
        <img src="img/carrot_large.png" class="carrot" alt="">
        <h2>Petition for a carrot-cursor</h2>
    </div>

    <div class="description">
        <div class="">
            <p>Support our petition for changing the default cursor to a carrot!</p>
        </div>
    </div>


    <form method="post">

        <label for="">
            First name
            <input type="text" name="first_name" value="">
        </label>
        <label for="">
            Last Name
            <input type="text" name="last_name" value="">
        </label>
        <input type="hidden" name="signature" value="" id="signature">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <label for="">
            <canvas id="canvas" width="320" height="100"></canvas>
            Please sign here
        </label>

        <p id="error-message">
            {{showError}}

        </p>


        <button type="submit" name="submit">SUBMIT</button>
    <form>

</div>
