
<div id="registration-headline">
    <div>
        <p>Cursors to Carrots!</p>
    </div>
    <div class="circle">
        <img src="img/carrot_cursor.png" class="carrot" alt="">

    </div>
</div>

    <form method="post">
        <div class="row">
            <p>Age</p>
            <input type="text" name="age" value="">
        </div>
        <div class="row">
            <p>City</p>
            <input type="text" name="city" value="">
        </div>
        <div class="row">
            <p>Homepage</p>
            <input type="text" name="url" value="">
        </div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <p id="error-message">
            {{showError}}

        </p>

        <button type="submit" name="submit">SAVE</button>

    </form>
