<div id="container-signers">

    <div id="container-list">
        <p>Signers of the Petition</p>
        <div id="list-of-signers">
            <ul>
                {{#arrSigners}}
                <li>{{first}} {{last}}</li>

                {{/arrSigners}}
            </ul>
        </div>

    </div>

</div>
