
<div id="container-thank-you">

    <div class="layer">

        <div id="thank-you">
            <p>Thank you for signing the petition!</p>
        </div>

        <div id="signature-image">
            <img src="img/carrot.png" class="carrot" alt="">
            <p> Petition </p>
            <img src="{{signatureURL}}" class="signature">
        </div>

        <p id="link-to-signers"><a href="/signers">See all {{numSignatures}} supporters of the petition.</a></p>

    </div>

</div>
