/* MAIN */


body {
    margin: 0;
    overflow: auto;

}

.carrotcursor {
    cursor: url(img/carrot.png), auto;
}

#background-layer {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 3fr 5fr;
    align-items: center;
    background-image: linear-gradient(rgb(130, 160, 12), rgb(15,56,12));
    background-size: cover;
    min-width: 1400px;
    min-height: 700px;
    height: 100vh;
    margin: 0;
    /* adjust to small displays */
}

#navbar {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    margin-top: 15px;
    z-index: 10;
}

#navbar a {
    margin-right: 25px;
    font-size: 18px;
    color: rgb(222,222,222);
    text-decoration: none;
}

#background-image {
    grid-area: 1 / 1 / 3 / 3;
    background-image: url(img/rabbit_badge.png);
    background-size: 47%;
    background-position: top left;
    background-repeat: no-repeat;
    height: 100%;
}


/* GENERIC */
* {
    font-family: Tahoma;
}

h1 {
    color: rgb(222,222,222);
    font-size: 65px;
    margin-bottom: 0px;
    letter-spacing: 3px;
    font-weight: bolder;
}

form {
    grid-area: 2 / 2 / 3 /3;
    justify-self: center;

    display: flex;
    flex-direction: column;
    width: 350px;
    background: rgba(200, 200, 200, .5);
    border-radius: 4px;
    padding: 10px 25px;
    color: rgb(70,70,70);
    margin-right: 40px;

}

form .row  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    margin: 15px 0 5px 6px;
    padding: 5px;
    border-radius: 3px;
    width: 220px;
    height: 26px;
    font-size: 17px;
}

button {
    align-self: center;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    border: 2px rgb(80,80,80) solid;
    /* margin-top: 10px; */
    background: rgb(240,80,5);
    color: rgb(222,222,222);
    font-size: 18px;
}

#error-message {
    color: darkred;
}



/* REGISTRATION AND LOGIN */
#form-registration {
    padding-top: 20px;
    align-self: flex-end;
    margin-left: 10%;
}

#form-login {
    grid-area: 2 / 2 / 3 /3;
    justify-self: center;
    align-self: flex-end;
    margin-left: 10%;

}

#log-in-info {
    font-size: 16px;
}


/* SIGNATURE */

#please-sign {
    grid-area: 1 / 1 / 3 / 3;
    height: 400px;
    margin-left: 450px;
    margin-bottom: 120px;
    background-size: 600px;
    background-image: url(img/please_sign.png);
    background-repeat: no-repeat;
    background-position: top left;
}

.description {
    grid-area: 1 / 2 / 2 /3 ;
    font-size: 26px;
    max-width: 750px;
    /* color: rgb(229, 216, 191); */
    color: rgb(222, 222, 222);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-self: start;
    margin-top: 7vH;

}


.description h2 {
    font-size: 40px;
}


#form-signature {
    justify-self: right;
    align-self: flex-end;
    width: 450px;
    height: 230px;
    padding: 25px;
    margin-bottom: 10%;
    margin-right: 10%;

}

#canvas-layer {
    width: 440px;
    height: 150px;
    background-color: white;
    background-image: url(img/signature.png);
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center;
}


canvas {
    background: rgba (0,0,0,0);
    border: 2px rgb(212, 212, 212) solid;
    border-radius: 3px;

}


/* thank-you */
#thank-you-container {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    font-size: 20px;
    max-width: 900px;
    margin-top: 380px;
}

#thank-you-container #congrats {
    display: none;
}

#thank-you-container h1 {
    font-size: 50px;
    margin-bottom: 25px;
}

#thank-you-container div {
    margin-top: 15px;
}

#thank-you-container a {
    font-size: 20px;
    color: rgb(222,222,222);

}
#thank-you-text {
    max-height: 200px;
    margin-bottom: 20px;
}

#delete-signature  {
    height: 28px;
    color: rgb(222,222,222);
}

#delete-signature form {
    width: 100%;
    height: 28px;
    padding: 0;
    margin: 0;
    opacity: 1;
    background: rgba(0,0,0,0);

}
#delete-signature button {
    text-align: center;
    height: 28px;
    border: none;
    margin: 0;
    width: 100%;
    font-size: 20px;
    text-decoration: underline;
    background: rgba(0,0,0,0);
    cursor: pointer;
}

#signature-image {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    align-self: flex-end;
    width: 340px;
    height: 45%;
    background-image: url(img/paper_short.png);
    text-align: center;
    padding: 40px 20px 20px 40px;
}

#signature-image div {
    margin-top: 20px;

}

#signature-image img {
    height: 70px;
}

#signature-image p {
    font-size: 40px;
    font-family: Garamond;
}

#signature-image img.signature {
     width: 240px;
     height: 75px;

}


/* SIGNERS */

#container-list {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    padding: 20px;
    min-width: 500px;
}

#container-list li {
    list-style-type: none;
    height: 30px;
}

#container-list h2 {
    font-size: 34px;
    color: rgb(222,222,222);
}

#container-list h3 {
    font-size: 26px;
    font-weight: normal;
    color: rgb(222,222,222);
}

#container-list div {
    text-align: center;

}

#container-list div p {
    font-size: 22px;
    font-weight: bold;

}

#container-list a {
    color: rgb(222,222,222);
    font-weight: normal;
}

#list-of-signers {
    max-height: 60vh;
    overflow-y: auto;
    scrollbar-color: white rgb(92, 126, 12);
    padding: 20px;
}

#list-of-signers li {
    font-size: 18px;
    margin: 8px auto;
    color: rgb(200,200,200)!important;
}


/* EDIT */

#form-edit {
    grid-area: 1 / 2 / 3 / 3;
    justify-self: center;
    align-self: end;
    margin-left: 40px;
    margin-bottom: 40px;
}

/* MODAL */

.modal-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
}


.modal {
    display: relative;
    width: 400px;
    height: 180px;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgb(229, 216, 191);
;
}

.modal h2 {
    color: rgb(80,80,80);
}

.modal div {
    font-size: 16px;
    color: rgb(80,80,80);
}

.modal div {
    margin-bottom: 10px;
}

#exit-modal {
    position: relative;
    float: right;
    font-family: Tahoma;
    font-size: 28px;
    cursor: pointer;
}

#darkness {
    position: absolute;
    visibility: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    height: calc(100% + 30px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#darkness.on {
    visibility: visible;
}
